@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
 
/* Generales */

:root{
    --main-color: #024021;
    --sec-color: #07743e;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f0f0f0;
}

th, td {
    padding: 0.5rem;
}

a {
    text-decoration: none;
}

/* Header */

header {
    background-color: #fff;
    color: var(--main-color);
    text-align: center;
    box-shadow: 0 10px 20px rgba(122, 122, 122, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

header .col {
    padding: 0.5rem 0;
}

/* Carrito */
.icono-carrito:hover{
    cursor: pointer;
}

.oculto {
    display: none;
}

.visible{
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 500px;
    max-height: 70vh;
    overflow-y: auto;
    background-color: rgba(255,255,255,0.9);
    padding: 1rem;
    border-radius: 0 0 10px 10px;
}

#lista-carrito {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

#lista-carrito p {
    margin: 0;
}

#vaciar-carrito {
    width: 100%;
}

.eliminar-item {
    color: #b41d36;
    font-weight: 900;
}

.producto {
    font-size: 1.3rem;
    font-weight: 700;
}

.spec {
    margin: 0;
    color: #aaa
}

/* Hero */

.hero {
    margin-top: 60px;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #777;
    padding: 6rem;
    color: #fff;
}

.barra {
    background-image: linear-gradient(to bottom right, #03321b, #066335);
}

.barra .d-flex > * {
    margin: 1rem;
    color: #fff;
    font-weight: 400;
}

/* Galeria */

.card {
    margin-bottom: 2rem;
}

.card .card-title {
    font-size: 1.4rem;
    color: var(--sec-color);
}

.card .precio {
    margin: 0;
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--sec-color);
}

.card .btn {
    background-color: var(--main-color);
    color: #fff;
    border: none;
}

.card .btn:active {
    background-color: var(--sec-color);
    color: #fff;
}

/* Footer */

footer {
    background-color: var(--sec-color);
    color: #fff;
    text-align: center;
    padding: 2rem;
}