@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
 
/* Generales */

:root{
    --main-color: #022112;
    --sec-color: #07743e;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    background-color: #f0f0f0;
}

th, td {
    padding: 0.5rem;
}

/* Header */

header {
    background-color: #fff;
    color: var(--main-color);
    text-align: center;
    box-shadow: 0 10px 20px rgba(122, 122, 122, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

header .col {
    padding: 0.5rem 0;
}

/* Carrito */

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    top: 100%;
    min-width: 500px;;
    background-color: rgba(255,255,255,0.85);
    padding: 1rem;   
}

#lista-carrito {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

#vaciar-carrito {
    width: 100%;
}

/* Hero */

.hero {
    margin-top: 80px;
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-blend-mode: multiply;
    background-color: #777;
    padding: 6rem;
    color: #fff;
}

.barra {
    background-image: linear-gradient(to bottom right, #03321b, #066335);
}

.barra .d-flex > * {
    margin: 1rem;
    color: #fff;
    font-weight: 400;
}

/* Galeria */

.card {
    margin-bottom: 2rem;
}

/* Footer */

footer {
    background-color: var(--sec-color);
    color: #fff;
    text-align: center;
    padding: 2rem;

}